@import 'variables';
@import 'reset';
@import 'fonts';


/* ~~~~~~~~~~ common ~~~~~~~~~~ */
* {
  font-weight: 400;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  color: $dark-black;
  font-weight: 100;
  font-family: $primary-kr;
}

section {
  margin: 100px 0;
}

[class*=inner] {
  width: 1320px;
  margin: auto;
  padding: 50px 0;
}

.title-wrap {
  text-align: center;

  h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: $title-font;
  }

  p {
    margin: 10px 0 20px;
    font-size: 18px;
  }
}

/* ~~~~~~~~~~  sub-common ~~~~~~~~~~ */
section[class*=sub-page-] {
  margin: 0;
}

@at-root .page-title {
  height: 300px;

  h2 {
    color: $white; font-family: $title-font;
    padding-top: 60px;
    font-size: 40px;
    line-height: 200px;
    text-align: center;
    font-weight: bold;
  }

  .page-title-inner {
    background: rgba(255, 255, 255, 0.342);
    height: 40px;
    padding: 0;
    border-radius: 5px 5px 0 0;

    @at-root .now-page-title {
      ul {
        height: 40px;
        display: flex;
        align-items: center;

        li {
          height: 100%;
          color: $white;
          line-height: 40px;
          padding: 0 15px;
          font-weight: 600;

          i {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@at-root .container-title {
  text-align: center;

  h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 20px auto;

    &::after {
      content: '';
      width: 100%;
      height: 4px;
      background: #60A7E9;
      position: absolute;
      bottom: 5px;
      left: 0;
      z-index: -1;

    }
  }

  img {
    width: 50px;
    margin-right: -20px;
    margin-bottom: -15px;
    z-index: -1;
  }
}

/* ~~~~~~~~~~ mixin ~~~~~~~~~~ */
@mixin text-line($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

/*  @include text-line(줄수); */

@mixin normal-btn($bg-color) {
  margin: 20px 0;
  border-radius: $border-radius;
  padding: 5px 20px;
  background: $bg-color;
  transition: .3s;
}

/* @include normal-btn(배경색) */

@mixin hover-btn($textColor , $backgroundColor) {
  color: $textColor;
  background-color: $backgroundColor;
}

/* @include hover-btn(텍스트 색상, 배경색상) */

@mixin title_h2 {
  >h2 {
    margin-bottom: 100px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @include text-underLine(8px);
    @include text-underLine_Star();

    text-align: center;
    font-size: 45px; //폰트크기 공용으로 해야함함
    font-weight: bold;

  }

}

@mixin text-underLine($underline_Height) {
  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background: rgba($color: $maincolor, $alpha: .7);
    position: absolute;
    bottom: -20%;
    left: 0;
    z-index: -1;

  }


}

@mixin text-underLine_Star() {
  &::before {
    content: "";
    position: absolute;
    left: -61px;
    top: 21px;
    background-image: url(../imagesSub/subtitle-hover-point.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
  }
}

/* ~~~~~~~~~~ header (이지호) ~~~~~~~~~~ */
.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  transition: 1s;
  height: 70px;
  width: 1920px;
  z-index: 10000000000;
  left: 50%;
  transform: translateX(-50%);

  &.active {
    background-color: $header-sub-color;
  }

  &.active-scroll {
    background-color: $header-sub-color;
  }

  .header-inner {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-warps {
      display: flex;
      height: 70px;
      align-items: center;
      width: 100%;

      .logo {
        text-align: center;
        flex: 3;
        display: flex;
        justify-content: flex-start;
        color: white;

        a {
          display: inline-block;
          width: 200px;

          &:hover {
            color: $maincolor;
          }
        }
      }

      nav {
        flex: 7;

        ul {
          display: flex;

          li {
            flex: 1;
            text-align: center;
            color: white;

            &:hover {
              a {
                position: relative;
                padding: 10px;
                font-weight: bold;
                color: $maincolor;

                &::after {
                  content: "";
                  background-image: url(../images/fish_After.png);
                  background-repeat: no-repeat;
                  position: absolute;
                  right: -20px;
                  top: -5px;
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0px;
    top: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }


  .sub-menu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: .5s;

    &.active {
      max-height: 50vh;
    }

    .sub-menu-inner {
      background-color: $header-sub-color;
      /* 서브 배경 */
      width: 1920px;
      padding: 0;
      border-radius: 0 0 30px 30px;
      border-top: 1px solid rgba($subcolor, .5);

      .sub-menu-content {
        display: flex;
        width: 1320px;
        margin: auto;

        .sub-menu-info {
          margin-top: 20px;
          display: flex;
          width: 100%;

          .sub-menu-warps {
            text-align: center;
            flex: 3;
            margin-bottom: 20px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .data-wrap {
              width: 200px;

              .data {}

              .temper {
                display: flex;
                align-items: center;
                justify-self: center;
                margin-top: 20px;

                img {
                  margin-right: 20px;
                }

                .temp {
                  font-weight: bold;
                  font-size: 25px;
                }
              }
            }
          }

          .sub-menu-item-warps {
            flex: 7;
            display: flex;

            .sub-menu-item {
              text-align: center;
              flex: 3;

              li {
                margin-bottom: 20px;
                &.none-link{
                  a{
                    color: #7a7a7a;
                  }
                  &:hover{
                    a {
                      color: #7a7a7a !important;
                      font-weight: normal !important;
                      padding: 0 !important;
                    &::after {
                      content: none !important;
                    }
                  }
                  }
                }
                &:hover {
                  a {
                    position: relative;
                    padding: 10px;

                    &:hover {
                      color: rgba($maincolor, 100%);
                      font-weight: bold;

                      &::after {
                        content: "";
                        background-image: url(../images/fish_After.png);
                        background-repeat: no-repeat;
                        position: absolute;
                        right: -20px;
                        top: -5px;
                        width: 25px;
                        height: 25px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .sub-menu-text {
      text-align: center;
      background-color: rgba($subcolor, 100%);
      height: 50px;
      line-height: 50px;
      border-radius: 0 0 20px 20px;
      color: white;
    }
  }
}

/* ~~~~~~~~~~ section : main-visual (이지호) ~~~~~~~~~~ */
.main-visual {
  position: relative;
  margin: 0;
  height: 1000px;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(#171717, 50%);
    z-index: 1;
  }

  .wave {
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 3;
  }

  .main-visual-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    .main-visual-text-wrap {
      top: 50%;
      left: 50%;
      line-height: 1.5;
      p {
        font-size: 23.5px;
        color: white;
        margin-bottom: 35px;
      }
      
      h1 {
        font-size: 50px;
        font-weight: bold;
        color: white;

        em {
          font-weight: bold;
          color: $remon;
          font-style: normal;
        }
      }

    }
  }

  .sidenav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 1s;

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 70px;
      bottom: 0;
      border-left: 1px solid rgb(255, 255, 255, .3);
      width: 100%;
    }

    &.active-scroll {
      background-color: $header-sub-color;

      /*$header-sub-color:#E4F3FF;
      variables 추가 */
      .info-item {
        i {
          transition: .3s;
          color: #333;
        }

        span {
          transition: .3s;
          color: #333;
          font-size: 15px;
        }




      }

    }

    .sidenav-container {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1px;

      .info-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        flex: 1;
      }

      .info-bottom {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
      }

      img {
        width: 100%;
      }
    }


    .info-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 2;
      font-size: 35px;
      margin: 20px 0;

      i {
        transition: .3s;
        color: white;

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }

      span {
        margin-top: 5px;
        transition: .3s;
        color: white;
        font-size: 15px;
      }

      &:hover {

        i,
        span {
          transform: translateY(-5px);
        }

        i {
          color: $subcolor;
        }

      }


    }
  }

}

/* ~~~~~~~~~~ section : program (문현아) ~~~~~~~~~~ */
.program {
  .program-content {
    margin-top: 50px;
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    gap: 28px;
    .program-items {
      width: 290px;
      height: 390px;
      position: relative;
      transition: .5s;
      border-radius: $border-radius;
      overflow: hidden;

      .item-thum {
        width: 290px;
        height: 390px;
        position: relative;
        z-index: 1;

        img {
          width: 290px;
          height: 390px;
          object-fit: cover;
          object-position: left;
        }
      }

      .hover-wrap {
        .video {
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 100%; // 높이를 부모 요소에 맞춤
          object-fit: cover;
          z-index: 4;
          opacity: 0;
          transition: 0.4s ease;
        }

        .item-text {
          position: absolute;
          bottom: 0;
          left: 20px;
          z-index: 3;
          opacity: 0;
          width: 0;
          overflow: hidden;
          transition: opacity .7s ease 0.3s;

          h4 {
            color: $white;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 40px;
          }

          p {
            color: $white;
            font-size: 18px;
          }

          .program-item-btn {
            margin-top: 30px;
            border: 2px solid white;
            width: 113px;
            height: 30px;
            border-radius: $border-radius;
            transition: .4s;

            a {
              color: $white;
              font-size: 13px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 25px;
              transition: .4s;
            }

            &:hover {
              border: 2px solid $white;
              background: $white;

              a {
                color: $dark-black;
                font-weight: 700;
              }
            }
          }
        }

        &::before {
          content: '';
          width: 0;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: rgba($color: #000000, $alpha: .7);
          z-index: 5;
          opacity: 0;
          transition: 0.3s ease;
        }
      }

      .item-thum-text {
        position: absolute;
        bottom: 0;
        left: 20px;
        z-index: 3;

        h4 {
          color: $white;
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 40px;
        }
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: rgba($color: #000000, $alpha: .4);
        z-index: 3;
      }

      &:hover {
        height: 390px;
        overflow: visible;

        .hover-wrap {
          .video {
            opacity: 1;
            width: 610px;
          }

          .item-text {
            bottom: 25%;
            left: -80%;
            z-index: 5;
            opacity: 1;
            width: 100%;
          }

          &::before {
            content: '';
            width: 610px;
            height: 100%;
            opacity: 0;
            opacity: .5;
          }
        }

        .item-thum {
          img {
            display: none;
          }
        }
      }
    }
  }
}

/* ~~~~~~~~~~ section : event (조예진) ~~~~~~~~~~ */
.event {
  .event-inner {
    padding: 50px 0;
  }

  .event-content {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $pointcolor;
    position: relative;

    &::before {
      content: '◆';
      font-size: 20px;
      position: absolute;
      color: $white;
      top: 35px;
      left: 90px;
      animation: bgIcon1 infinite 20s;
    }

    @keyframes bgIcon1 {
      0% {
        left: 90px;
      }

      100% {
        left: 1800px;
      }
    }

    &::after {
      content: '◆';
      font-size: 20px;
      position: absolute;
      color: $white;
      bottom: 37px;
      right: 90px;
      animation: bgIcon2 infinite 20s;
    }

    @keyframes bgIcon2 {
      0% {
        right: 90px;
      }

      100% {
        right: 1800px;
      }
    }

    .event-content-wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
      border-radius: 50px 0 50px 0;
      border-bottom: 1px solid $white;
      border-top: 1px solid $white;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: opacity 0.4s ease;

      &.active {
        opacity: 1;
        visibility: visible;
        position: static;
      }

      .event-desc {
        display: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        margin-right: 50px;
        width: 400px;
        height: 350px;
        font-family: $secondary-kr;
        font-weight: 100;

        .event-text {
          font-size: 20px;
          color: $white;

          #event-title {
            font-weight: 500;
            font-size: 40px;
            margin-bottom: 20px;

            em {
              font-style: normal;
              color: $maincolor;
              font-weight: bold;
            }
          }

          #event-time {
            margin-bottom: 10px;
          }

          .event-more-btn {
            font-size: 16px;
            width: fit-content;
            display: block;
            margin: 20px 0;
            border: 2px solid $white;
            border-radius: $border-radius;
            padding: 5px 20px;
            background: transparent;
            color: $white;
            transition: .3s;
            font-family: $secondary-kr;

            &:hover {
              background: $white;
              color: $pointcolor;
            }
          }
        }

        .event-thumb-btn {
          img {
            width: 50px;
            height: 60px;
            filter: brightness(50%);
            cursor: pointer;
            transition: filter 0.3s ease;

            &.active {
              filter: brightness(100%);
            }
          }
        }
      }

      .event-thumb {
        img {
          width: 280px;
          height: 350px;
        }
      }
    }
  }
}

/* ~~~~~~~~~~ section : creatures (이지호) ~~~~~~~~~~ */
.creatures {
  text-align: center;

  .creatures-inner {
    .creatures-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 66px;

      .creatures-map {
        position: relative;

        img {
          width: 900px;
          // 지도 이미지
        }

        span {
          font-size: 50px;
          cursor: pointer;

          i {
            color: rgba($subcolor, .8);
            transition: .3s;

            // 핑 이미지
            &.active {
              color: $maincolor;
              font-size: 70px;
              transform: translate(-10px, -20px);
            }

            &:hover {
              // 핑 이미지 hover 효과
              color: $maincolor;
            }
          }
        }

        span:nth-child(2) i {
          // 첫 번째 핑 위치
          position: absolute;
          left: 60%;
          top: 35%;
        }

        span:nth-child(3) i {
          // 첫 번째 핑 위치
          position: absolute;
          left: 15%;
          top: 10px;
        }

        span:nth-child(4) i {
          // 첫 번째 핑 위치
          position: absolute;
          left: 30%;
          bottom: 33%;
        }

        span:nth-child(5) i {
          // 첫 번째 핑 위치
          position: absolute;
          top: 10px;
          left: 67%;
        }
      }

      .creatures-info {
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 330px;
        height: 80%;
        color: white;
        background-color: rgba($maincolor, 50%);
        border-radius: $border-radius;

        &.active {
          display: flex;
        }

        img {
          // 생물 이미지
          width: 275px;
          margin-top: 27px;
        }

        .creatures-info-warps {
          text-align: center;
          font-family: $secondary-kr;

          .creatures-text-warps{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .creatures-name {
              // 이름
              margin-top: 15px;
              width: 275px;
              font-size: 25px;
            }
  
            .creatures-text {
              // 설명 텍스트
              width: 250px;
              margin: 24px auto;
              @include text-line(3);
              margin-bottom: 27px;
            }
  
            .creatures-item-btn {
              a{

                @include normal-btn($maincolor);
                display: block; 
                color: white;
                width: 150px;
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                padding: 0;
                // 버튼 스타일
                &:hover {
                  @include hover-btn($maincolor , white);
                }
              }
            }
          }
         
        }
      }
    }
  }
}

/* ~~~~~~~~~~ section : news (조예진)~~~~~~~~~~ */
.news {
  position: relative;
  background: url(../images/news-bg.png) no-repeat center;
  height: 800px;
  background-size: contain;

  .news-inner {
    position: relative;
    padding-top: 100px;

    .title-wrap {
      color: $white;
      margin-bottom: -20px;
    }

    .news-content {
      .news-btn {
        height: 60px;

        a {
          padding: 10px 55px;
          border-radius: $border-radius;
          background-color: $maincolor;
          border: none;
          color: $white;
          position: absolute;
          right: 0;
          transition: .3s;
          margin-top: 30px;

          &:hover {
            color: $maincolor;
            background: $white;
          }
        }
      }

      .swiper {
        width: 100%;
        overflow: hidden;

        .news-card-wrap {
          display: flex;
          margin-top: 30px;

          .news-card {
            cursor: pointer;
            height: 330px;
            position: relative;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $white;

            .news-card-tag {
              position: absolute;
              top: 30px;
              left: -20px;
              margin-left: 10px;
              padding: 5px 25px;
              background: $subcolor;
              color: $white;
              font-weight: bold;
            }

            .news-card-title {
              margin: 65px 50px 0 50px;
              font-size: 20px;
              font-weight: bold;
              text-align: center;
            }

            .news-card-text {
              width: 200px;
              height: 100px;
              margin: auto;
              font-size: 16px;
            }
          }
        }
      }

      .swiper-pagination {
        position: relative;
        margin-top: 45px;
      }
    }
  }
}

/* ~~~~~~~~~~ section : directions (조예진) ~~~~~~~~~~ */
.directions {
  .directions-inner {
    .directions-content {
      .directions-btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        .directions-btn {
          margin: 50px;

          a {
            &:hover i {
              color: $white;
              background: $maincolor;
            }

            i {
              font-size: 24px;
              color: $maincolor;
              display: flex;
              width: 80px;
              height: 80px;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background: #F3F3F3;
              transition: .3s;
            }

            p {
              font-size: 20px;
              color: $maincolor;
              font-weight: bold;
              padding-top: 10px;
            }
          }
        }
      }

      .map {
        iframe {
          width: 1000px;
          height: 500px;
          display: block;
          margin: auto;
        }
      }
    }
  }
}

/* ~~~~~~~~~~ section : review (문현아) ~~~~~~~~~~ */
.review {
  .review-content {
    .review-swiper {
      .swiper-wrapper {
        transition-timing-function: linear !important;

        .swiper-slide {
          width: 320px;
          height: 300px;
          position: relative;

          a {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .text-wrap {
              opacity: 0;
              transition: .5s;

              &:hover {
                opacity: 1;
              }

              position: absolute;
              top: 0;
              left: 0;
              border: 1px solid #fff;
              width: 100%;
              height: 100%;
              background-color: rgba($color: #000, $alpha: .7);
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              gap: 30px;

              img {
                width: 40px;
                height: 40px;
                margin-left: 10px;
                padding-top: 10px;
              }

              .review-text {
                width: 90%;
                margin: 0 auto;
                color: #fff;
                font-size: 14px;
                @include text-line(3);
                text-align: center;
                line-height: 2;
              }

              .tags {
                width: 80%;
                margin: 0 auto;
                font-size: 12px;
                color: #fff;
                text-align: center;
                line-height: 2;
                margin-bottom: 50px;
              }
            }
          }
        }
      }
    }
  }
}

/* ~~~~~~~~~~ footer (문현아) ~~~~~~~~~~ */
footer {
  height: 250px;
  background: $footer;

  .footer-inner {
    height: 250px;

    .footer-top-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      @at-root .logo {
        color: $white;
        text-align: center;
        font-family: $logo-font;
        font-weight: 900;
        a{
          font-weight: 900;
        }
      }

      .logo {
        font-size: 20px;
      }

      .address {
        p {
          color: $white;
          margin: 13px;

          &.copy {
            color: $gray;
            font-size: 13px;
            font-weight: 100;
            text-align: center;
          }
        }
      }
    }
  }
}

/* ~~~~~~~~~~  sub-page (서브페이지) ~~~~~~~~~~ */
/* ~~~~~~~~~~ event (조예진) ~~~~~~~~~~ */
.sub-page-event {
  .page-title {
    background: url(../imagesSub/news-sub-bg.png) no-repeat;
    background-size: cover;
  }

  .event-all-inner {
    .event-all-container {
      margin-bottom: 50px;

      .event-card-wrap {
        margin-top: 20px;
        /* 타이틀 마진 값 */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

        .event-card {
          width: 300px;

          .card-img {
            img {
              width: 300px;
              height: 360px;
            }
          }

          .event-label {
            font-size: 14px;
            width: 130px;
            border: 1px solid $maincolor;
            color: $maincolor;
            padding: 5px 10px;
            text-align: center;
            margin: 15px 0 10px 0;

            &.end-event {
              border-color: $gray;
              color: $gray;
            }
          }

          .event-card-title {
            font-size: 18px;
            color: $maincolor;
            margin: 10px 0;

            &.end-event-title {
              color: $gray;
            }
          }

          .event-card-time {
            font-size: 12px;
          }

          .more-view-btn {
            cursor: pointer;
            font-size: 14px;
            margin: 5px 0;
            transition: .3s;
            width: 78px;
            border-bottom: 2px solid transparent;
            transform-origin: left;
            position: relative;

            img {
              position: absolute;
              left: 60px;
              width: 30px;
              height: 20px;
              opacity: 0;
              transition: .3s;
              z-index: -1;
              top: 8px;
            }

            &:hover {
              transform: scale(1.1);
              border-bottom-color: $label;
            }

            &:hover img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* ~~~~~~~~~~ news (조예진) ~~~~~~~~~~ */
.sub-page-news {
  .page-title {
    background: url(../imagesSub/news-sub-bg.png) repeat;
    background-size: cover;
  }

  .news-all-inner {
    .news-all-container {
      margin-bottom: 50px;

      #my-table {
        width: 85%;
        margin: 20px auto 0;
        /* 타이틀 마진값 */
        border-top: 2px solid $dark-black;

        tbody {
          tr {
            td {
              padding: 10px 20px;
              border-bottom: 1px solid rgba($dark-black, 0.1);
              text-align: center;
              transition: .3s;
              cursor: pointer;

              &:hover {
                color: $maincolor;
              }

              &:first-child {
                color: $maincolor;
                font-weight: 600;
              }

              &:last-child {
                font-size: 14px;
                color: rgba($dark-black, 0.8);
              }

              &:nth-child(2) {
                text-align: left;
              }
            }
          }
        }
      }

      .news-pagenation {
        cursor: pointer;
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        .fa-solid {
          font-size: 20px;
          font-weight: bold;
          color: $maincolor;
          padding: 5px;
        }

        #numbers {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px 20px;
          font-size: 15px;

          li {
            a {
              text-align: center;
              display: inline-block;
              opacity: .7;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              line-height: 30px;
              margin: 0 5px;

              &.active {
                opacity: 1;
                color: $white;
                background-color: $maincolor;
              }

              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

/* ~~~~~~~~~~ program (문현아) ~~~~~~~~~~ */
.sub-page-program {
  .page-title {
    background: url(../imagesSub/program-bg.jpg) no-repeat;
    background-size: cover;
    background-position: 0 70%;
  }

  .program-all-inner {
    .program-all-container {
      .program-link-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 30px;

        .program-link-btn {
          font-size: 16px;
          color: $maincolor;
          font-weight: 600;
          margin: 10px 20px;
          padding: 10px 20px;
          border: 2px solid $maincolor;
          border-radius: 50px;
          transition: .5s;

          &:hover {
            background: $subcolor;
            border: 2px solid $subcolor;
            color: $white;
            font-weight: bold;
          }

          &.active {
            background: $maincolor;
            border: 2px solid $maincolor;
            color: $white;
            font-weight: bold;
          }
        }
      }

      .program-content {
        .program-item {
          border: 1px solid $gray;
          border-radius: $border-radius;
          margin: 30px 0;
          padding: 15px;
          display: flex;
          gap: 30px;

          .program-img {
            img {
              border-radius: 5px;
            }
          }

          .text-wrap {
            display: flex;
            flex-direction: column;

            .title {
              display: flex;
              margin: 10px 0;
              align-items: center;

              h4 {
                font-size: 20px;
                font-weight: bold;
                margin-right: 30px;
              }

              .title-tags {
                display: flex;
                align-items: center;
                gap: 10px;

                .tag {
                  padding: 3px 5px;
                  font-size: 13px;
                  color: $white;
                  border-radius: 5px;

                  &.Individual {
                    background-color: $Individual-btn;
                  }

                  &.Paid {
                    background: $Paid-btn;
                  }

                  &.Free {
                    background: $facebook;
                  }

                  &.Group {
                    background: $Group-btn;
                  }
                }
              }
            }

            .sub-title {
              p {
                margin: 10px 0;
                font-size: 17px;
              }
            }

            .tags {
              display: flex;
              gap: 15px;

              p {
                font-size: 16px;
                position: relative;
                color: $maincolor;

                &::after {
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: rgba($color: $maincolor, $alpha: .7);
                  position: absolute;
                  bottom: -20%;
                  left: 0;
                  z-index: -1;
                }
              }
            }

            .hidden-wrap {
              margin-top: 20px;
              max-height: 0;
              overflow: hidden;
              transition: .5s;

              .places {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                .place {
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;

                  i {
                    font-size: 17px;
                    vertical-align: middle;
                    margin-right: 10px;
                  }

                  p {
                    width: 80%;
                  }
                }

                p {
                  &.reference {
                    font-size: 13px;
                  }
                }
              }

              p {
                width: 95%;
                line-height: 2;
                margin: 10px 0;
              }
            }

            .btns {
              margin: 10px 0;

              .program-btn {
                background: $maincolor;
                border: none;
                padding: 10px 25px;
                margin-right: 15px;
                color: $white;
                font-weight: 600;
                border-radius: $border-radius;
                transition: .3s;

                &:hover {
                  background: $subcolor;
                }

                &.detail-btn {
                  background: #404040;

                  &:hover {
                    background: #727272;
                  }
                }
              }
            }
          }

          &:hover {
            border: 1px solid $maincolor;
          }
        }
      }
    }
  }
}

/* PersonalPopUp */
#PersonalPopUp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;

  .PopUp-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    width: 400px;
    height: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 20px 0;
    }

    label {
      display: block;
      font-size: 17px;
      font-weight: bold;
      margin: 10px;
    }

    #reserve-date {
      border: 1px solid $gray;
      padding: 8px 10px;
      margin: 0 10px;
    }

    #reserve-count {
      margin: 0 10px;
      padding: 8px 10px;
      border: 1px solid $gray;
    }

    p {
      margin: 20px 10px;
      color: red;
    }

    .popup-btns {
      margin: 10px;

      button {
        border: none;
        background-color: $maincolor;
        padding: 10px 20px;
        border-radius: $border-radius;
        color: $white;
        font-size: 16px;
        margin-right: 20px;
        transition: .3s;

        &:hover {
          background: $subcolor;
        }
      }
    }
  }
}

/* groupPopUp */
#GroupPopUp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;

  .PopUp-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 20px 0;
    }

    .popup-information {
      p {
        margin: 20px 0;

        &.tel {
          font-weight: bold;
        }
      }
    }

    .reference {
      font-size: 13px;
      margin: 20px 0;
      color: red;
    }

    .group-btns {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;

      #close-group-btn {
        border: none;
        background: $maincolor;
        padding: 10px 20px;
        border-radius: $border-radius;
        color: $white;
        font-weight: 600;

        &:hover {
          background: $subcolor;
          font-weight: bold;
        }
      }
    }
  }
}

/* ~~~~~~~~~~ Sea Creature (이지호) ~~~~~~~~~~ */
.sub-page-SeaCreature {
  .page-title {
    background: url(../imagesSub/sea-background-image.png) no-repeat;
    background-size: cover;
  }

  .Sea-Creature {
    .Sea-Creatures-inner {

      position: relative;

      @include title_h2();

      >img {
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        z-index: -1;
        opacity: .2;
      }



      .Sea-Creatures-wrap {
        .Sea-Creatures-items {
          h2 {
            padding: 30px 0;
          }

          &:nth-child(1) {
            margin-bottom: 100px;
          }

          h2 {
            font-size: 18px; //폰트크기 공용으로 해야함
            font-weight: bold;
            text-align: center;
          }

          .Sea-Creatures-card-wrap {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 60px;

            .Sea-Creatures-card {
              
              width: calc(33.33333% - 40px);
              margin-bottom: 10px;

              .Sea-Creatures-card-img {
                position: relative;
                height: 250px;
                img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

                &.best_Card {
                  position: relative;

                  &::after {
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    width: 60px;
                    height: 60px;
                    background-image: url(../imagesSub/Creatures_crown.png);
                    background-size: cover;
                    left: 90%;
                    top: -12%;

                  }
                }

                .Sea-Creatures-card-explan {

                  opacity: 0;
                  display: flex;
                  align-items: center;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  color: white;
                  background-color: rgba(0, 0, 0, 0.7);
                  width: 100%;
                  height: 100%;
                  border-radius: 5px;
                  transition: .3s;

                  span {

                    margin: auto;
                    width: 80%;
                  }


                }


           

                &:hover .Sea-Creatures-card-explan {
                  opacity: 1;

                }
              }

              .Sea-Creatures-card-title {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 10px;
                h3 {
                  font-size: 20px;
                }

                span {
                  font-size: 22px;
                  font-weight: bold;
                }

                .Sea-Creatures-card-tag {
                  span {
                    @include text-underLine(2px);
                    color: $maincolor;
                    font-weight: normal;
                    font-size: 18px;
                    position: relative;
                    display: inline-block;
                  }

                  display: flex;
                  gap: 20px;
                }
              }
            }

          }
        }
      }
    }
  }
}

/* ~~~~~~~~~~ ticket (이지호) ~~~~~~~~~~ */
.sub-page-ticket {
  .page-title {
    background: url(../imagesSub/ticket-background-image.png) no-repeat;
    background-size: cover;
  }

  .ticket {
    .ticket-inner {
      >h2 {
        margin-bottom: 100px;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        &::after {
          position: absolute;
          content: "";
          left: -1px;
          top: 78%;
          transition: (0%, -50%);
          color: red;
          border: 8px solid $subcolor;
          width: 100%;
          z-index: -1;

        }


        text-align: center;
        font-size: 45px; //폰트크기 공용으로 해야함함
        font-weight: bold;

      }


    }

    //최상단 티켓켓
    .ticket-warps {
      .ticket-content {
        display: flex;
        height: 400px;
        width: 90%;
        margin: auto;
        position: relative;
        z-index: 1;

        .button-warps {
          flex: 1;
          position: relative;
          z-index: 10;

          &::after {
            content: "";
            position: absolute;
            background-image: url(../imagesSub/ticket-button-up_arrow.png);
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            right: -10px;
            bottom: -2px;
            z-index: 30;
          }

          &::before {
            content: "";
            position: absolute;
            background-image: url(../imagesSub/ticket-button-down_arrow.png);
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            right: -10px;
            top: -2px;
            z-index: 30;
          }

          button {
            border: 1px solid #000;
            width: 100%;
            height: 134px;
            width: 333px;
            background-image: url(../imagesSub/ticket-button-none.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-color: #00000000;
            border: none;
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            transition: all 0.3s ease;
            position: relative;
            z-index: 20;

            &:first-child {
              background-image: url(../imagesSub/ticket-button-active.png);

            }


            &:hover {
              background-image: url(../imagesSub/ticket-button-active.png);
            }
          }
        }

        .ticket-img {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 7.5;
          height: 100%;
          background-image: url(../imagesSub/ticket-background01.jpg);
          background-size: cover;
          padding: 20px;
          position: relative;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            left: 0;
            top: 0;
            z-index: -1;
          }

          >h2 {
            margin-top: 20px;
            font-size: 28px;
            color: white;

            em {
              font-style: normal;
              color: $remon;
            }
          }

          .ticket-text-warps {
            display: flex;


            .ticket-text {
              flex: 1;
              color: white;

              h2 {
                margin-top: 10%;
              }

              span {
                display: flex;
              }
            }

            .ticket-button {
              flex: 1;
              display: flex;
              justify-content: end;
              align-items: end;

              button {
                width: 200px;
                height: 50px;
                border: none;
                // 스타일 지정
                @include normal-btn($white);
                margin: 0;
                color: $maincolor;
                
                &:hover {
                  @include hover-btn($white , $maincolor);
                }
              }
            }
          }
        }
      }
    }


    //중단 티켓 사용 스텝
    .ticket-step-warps {
      display: flex;
      padding: 100px 0;
      margin-top: 100px;
      background-color: #f6f6f6;

      .ticket-step {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h4 {
          font-weight: bold;
          // STEP 제목 스타일
          font-size: 30px;
        }

        .img-wrapper {
          position: relative;
          display: inline-block;

        }

        &:not(:last-child) .img-wrapper::after {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          right: -100%;
          top: 50%;
          transform: translateY(-50%);
          background-image: url(../imagesSub/ticket-step-arrow.png);
          background-repeat: no-repeat;
        }

        img {
          // 이미지 스타일
        }

        span {
          font-weight: bold;
          font-size: 20px;
          // 설명 텍스트 스타일
        }
      }
    }

    .ticket-info-inner-warps {

      margin-top: 100px;

      .ticket-info-title {
        text-align: center;

        h2 {
          width: 100%;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          padding: 55px 0;
          font-weight: bold;

        }
      }

      .ticket-info-text {
        border-bottom: 1px solid #000;
        text-align: center;
        font-size: 20px;
        padding: 12px 0;
        font-weight: bold;

        p {
          font-weight: bold;

          em {
            font-weight: bold;

            font-style: normal;
            color: #F6CA85;

            &:hover {
              color: $subcolor;

            }
          }
        }
      }

      .ticket-info-price-warps {
        display: flex;
        border-bottom: 1px solid #000;

        span {
          font-weight: bold;

        }

        .ticket-info-price {
          position: relative;
          flex: 1;

          display: flex;
          justify-content: space-around;
          align-items: end;
          padding: 50px 0;
          display: flex;
          gap: 10px;
          font-size: 20px;

          &:not(:last-child)::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 1px;
            border-right: 1px solid #000;
            right: 0%;
            top: 0%;
          }
        }
      }
    }
  }

}
