/* Font Famaily */
$primary-kr: 'SUIT', sans-serif;
$title-font: 'NPSfontBold';
$secondary-kr: 'KNUTRUTHTTF';
$logo-font :'Quicksand', sans-serif;
/* Text Color */
$white:#FFFFFF;
$dark-black:#333333;
$remon:#FFF799;
$gray:#BABABA;
/* Object Color */
$maincolor:#0760A4;
$subcolor:#3891E3;
$pointcolor:#9CC6EE;
$label:#60A7E9;
$youtube:#F40000;
$facebook:#0862F7;
$footer:#062842;
$header-sub-color:#E4F3FF;
/* sub */
$Individual-btn : #08ABF7 ;
$Paid-btn : #F70808;
$Group-btn : #007DBD;
/* common */
$border-radius: 5px;
$padding: 10px 20px;